<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <meta name="keywords" content="E-Learning" />
    <script type="text/javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="~/Content/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <link href="~/Content/css/blast.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/style10.css" />
    <!--stylesheets-->
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Merriweather:300,400,700,900" rel="stylesheet">


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {

      $('#btnApplyNow').click(function (e)
      {
          location.href = '@Url.Content("~/Students/Login")';
      });

    });
    </script>
</head>
<body>
    <div class="blast-box">
        <div class="blast-icon"><span class="fas fa-tint"></span></div>
        <div class="blast-frame">
            <p>change colors</p>
            <div class="blast-colors">
                <div class="blast-color">#86bc42</div>
                <div class="blast-color">#8373ce</div>
                <div class="blast-color">#14d4f4</div>
                <div class="blast-color">#72284b</div>
            </div>
            <p class="blast-custom-colors">Custom colors</p>
            <input type="color" name="blastCustomColor" value="#cf2626">
        </div>
    </div>
    <div class="header-outs" id="header">
        <div class="header-w3layouts">
            <div class="container">
                <div class="row headder-contact">
                    <div class="col-lg-6 col-md-7 col-sm-9 info-contact-agile">
                        <ul>
                            <li>
                                <span class="fas fa-phone-volume"></span>
                                <p>+(91)9898989696</p>
                            </li>
                            <li>
                                <span class="fas fa-envelope"></span>
                                <p><a href="#">elearning111@gmail.com</a></p>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-3 icons px-0">
                        <ul>
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                            <li><a href="#"><span class="fas fa-rss"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="hedder-up">
                    <h1><a href="#" class="navbar-brand" data-blast="color">E-Learning</a></h1>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="headdser-nav-color" data-blast="bgColor">
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav ">
                            <li class="nav-item active">
                                <a class="nav-link">@Html.ActionLink("Home", "Index", "Students")</a>&nbsp;&nbsp;
                            </li>
                            <li class="nav-item">
                                <a>@Html.ActionLink("About", "About", "Students")</a>&nbsp;&nbsp;
                            </li>
                            <li class="nav-item">
                                <a>@Html.ActionLink("Service", "Services", "Students")</a>&nbsp;&nbsp;
                            </li>
                            <li class="nav-item">
                                <a>@Html.ActionLink("Teams", "Team", "Students")</a>&nbsp;&nbsp;
                            </li>
                            <li class="nav-item">
                                <a>@Html.ActionLink("SignUp", "Registrtaion", "Students")</a>&nbsp;&nbsp;
                            </li>
                            <li class="nav-item">
                                <a>@Html.ActionLink("Sign In", "Login", "Students")</a>&nbsp;&nbsp;
                            </li>
                            <li class="nav-item">
                                <a>
                                    <input type="submit" value="Apply Now " id="btnApplyNow"/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--//navigation section -->
            <div class="clearfix"> </div>
        </div>
        <!--banner -->
        <!--- banner--->
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider4">
                    <li>
                        <div class="slider-img one-img">
                            <div class="container">
                                <div class="slider-info text-left">
                                    <h4>Hard Work</h4>
                                    <h5>Web Developing</h5>
                                    <p>

                                    </p>
                                    <div class="outs_more-buttn">
                                        <a href="#" data-toggle="modal" data-target="#exampleModalLive" data-blast="bgColor">More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slider-img two-img">
                            <div class="container">
                                <div class="slider-info text-left">
                                    <h4>Study</h4>
                                    <h5>E-Learning</h5>
                                    <p>
                                        Computer Programming
                                    </p>
                                    <div class="outs_more-buttn">
                                        <a href="#" data-toggle="modal" data-target="#exampleModalLive" data-blast="bgColor">More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slider-img three-img">
                            <div class="container">
                                <div class="slider-info text-left">
                                    <h4>Class</h4>
                                    <h5></h5>
                                    <p>
                                        Social Learning
                                    </p>
                                    <div class="outs_more-buttn">
                                        <a href="#" data-toggle="modal" data-target="#exampleModalLive" data-blast="bgColor">More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- This is here just to demonstrate the callbacks -->
            <!-- <ul class="events">
          <li>Example 4 callback events</li>
          </ul>-->
            <div class="clearfix"></div>
        </div>
    </div>
        <!--End Banner-->
        <div>
            @RenderBody()
        </div>
  <section class="footer py-lg-4 py-md-3 py-sm-3 py-3">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <div class="row ">
          <div class="dance-agile-info col-lg-3 col-md-6 col-sm-6">
            <h4 class="pb-lg-3 pb-3" data-blast="color">Blog</h4>
            <div class="footer-grid row mb-3">
              <div class="col-lg-5 col-md-6 col-sm-6 col-5">
                <img src="~/Content/images/bb1.jpg" alt=" " class="img-fluid">
              </div>
              <div class="col-lg-7 col-md-6 col-sm-6 col-7 bottom-para px-0">
                <h6><a href="#" data-toggle="modal" data-target="#exampleModalLive">ultricies nec,pellen eu,pretium quis,</a></h6>
                <div class="news-bloger">
                  <ul>
                    <li class="mr-1"><a href="#about" class="scroll" data-blast="color">12/4/2019</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#exampleModalLive" data-blast="color">3 Tags</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-grid row mb-3">
              <div class="col-lg-5 col-md-6 col-sm-6 col-5">
                <img src="~/Content/images/bb2.jpg" alt=" " class="img-fluid">
              </div>
              <div class="col-lg-7 col-md-6 col-sm-6 col-7 bottom-para px-0">
                <h6><a href="#" data-toggle="modal" data-target="#exampleModalLive">ultricies nec,pellen eu,pretium quis,</a></h6>
                <div class="news-bloger">
                  <ul>
                    <li class="mr-1"><a href="#" data-toggle="modal" data-target="#exampleModalLive" data-blast="color">12/4/2019</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#exampleModalLive" data-blast="color">3 Tags</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-grid row">
              <div class="col-lg-5 col-md-6 col-sm-6 col-5">
                <img src="~/Content/images/bb3.jpg" alt=" " class="img-fluid">
              </div>
              <div class="col-lg-7 col-md-6 col-sm-6 col-7 bottom-para px-0">
                <h6><a href="#" data-toggle="modal" data-target="#exampleModalLive">ultricies nec,pellen eu,pretium quis,</a></h6>
                <div class="news-bloger">
                  <ul>
                    <li class="mr-1"><a href="#" data-toggle="modal" data-target="#exampleModalLive" data-blast="color">12/4/2019</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#exampleModalLive" data-blast="color">3 Tags</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="dance-agile-info col-lg-3 col-md-6 col-sm-6">
            <h4 class="pb-lg-4 pb-md-3 pb-3 text-uppercase" data-blast="color">Contact Us</h4>
            <div class="address_mail_footer_grids">
              
            </div>
          </div>
          <div class="dance-agile-info col-lg-3 col-md-6 col-sm-6">
            <h4 class="pb-lg-4 pb-md-3 pb-3 text-uppercase" data-blast="color">Twitter Us</h4>
            <div class="footer-office-hour">
              <ul>
                <li>
                  <p>sit amet consectetur adipiscing</p>
                </li>
                <li class="my-1">
                  <p><a href="mailto:info@example.com" data-blast="color">http://example.com</a> sit amet</p>
                </li>
                <li class="mb-lg-4 mb-md-3 mb-3"><span>Posted 3 days ago.</span></li>
                <li>
                  <p>sit amet consectetur adipiscing</p>
                </li>
                <li class="my-1">
                  <p><a href="mailto:info@example.com" data-blast="color">http://mail.com</a> sit amet</p>
                </li>
                <li><span>Posted 3 days ago.</span></li>
              </ul>
            </div>
          </div>
          <div class="dance-agile-info col-lg-3 col-md-6 col-sm-6">
            <h4 class="pb-lg-3 pb-3" data-blast="color">Our Posts</h4>
            <div class="footer-post d-flex mb-2">
              <div class="agileinfo_footer_grid1 mr-2">
                <a href="#blog" class=" scroll">
                <img src="~/Content/images/f1.jpg" alt=" " class="img-fluid">
                </a>
              </div>
              <div class="agileinfo_footer_grid1 mr-2">
                <a href="#blog" class="scroll">
                <img src="~/Content/images/f2.jpg" alt=" " class="img-fluid">
                </a>
              </div>
              <div class="agileinfo_footer_grid1">
                <a href="#blog" class="scroll">
                <img src="~/Content/images/f3.jpg" alt=" " class="img-fluid">
                </a>
              </div>
            </div>
            <div class="footer-post d-flex mb-2">
              <div class="agileinfo_footer_grid1 mr-2">
                <a href="#blog" class="scroll">
                <img src="~/Content/images/f3.jpg" alt=" " class="img-fluid">
                </a>
              </div>
              <div class="agileinfo_footer_grid1 mr-2">
                <a href="#blog" class=" scroll">
                <img src="~/Content/images/f2.jpg" alt=" " class="img-fluid">
                </a>
              </div>
              <div class="agileinfo_footer_grid1">
                <a href="#blog" class=" scroll">
                <img src="~/Content/images/f1.jpg" alt=" " class="img-fluid">
                </a>
              </div>
            </div>
            <div class="footer-post d-flex">
              <div class="agileinfo_footer_grid1 mr-2">
                <a href="#blog" class="scroll">
                <img src="~/Content/images/f2.jpg" alt=" " class="img-fluid">
                </a>
              </div>
              <div class="agileinfo_footer_grid1 mr-2">
                <a href="#blog" class=" scroll">
                <img src="~/Content/images/f3.jpg" alt=" " class="img-fluid">
                </a>
              </div>
              <div class="agileinfo_footer_grid1">
                <a href="#blog" class=" scroll">
                <img src="~/Content/images/f1.jpg" alt=" " class="img-fluid">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="nav-footer py-sm-4 py-3">
      <div class="container-fluid">
        <div class="buttom-nav ">
          <nav class="border-line py-2">
            <ul class="nav justify-content-center">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link scroll">About</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link scroll">Services</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link scroll">Blog</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link scroll">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <footer class="py-3">
      <div class="container">
        <div class="copy-agile-right text-center">
          <div class="list-social-icons text-center py-lg-4 py-md-3 py-3">
            <ul>
              <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
              <li><a href="#"><span class="fas fa-envelope"></span></a></li>
              <li><a href="#"><span class="fas fa-rss"></span></a></li>
              <li><a href="#"><span class="fab fa-vk"></span></a></li>
            </ul>
          </div>
          <p> 
            © 2022 E-Learning. All Rights Reserved | Developed by <a href="#" target="_blank">Jayesh Ahir</a>
          </p>
        </div>
      </div>
    </footer>
    <!--//footer-->
    <!--model-->
    <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLiveLabel" data-blast="color">ClassWork</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="images/b2.jpg" alt="" class="img-fluid">
            <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
              eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellu
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!--//model-->
    <!--js working-->
    <script src='~/Content/js/jquery-2.2.3.min.js'></script>
    <!--//js working--> 
    <!--blast colors change-->
    <script src="~/Content/js/blast.min.js" type="text/javascript"></script>
    <!--//blast colors change-->
    <!--responsiveslides banner-->
    <script src="~/Content/js/responsiveslides.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      // You can also use "$(window).load(function() {"
      $(function () {
      	// Slideshow 4
      	$("#slider4").responsiveSlides({
      		auto: true,
      		pager:false,
      		nav:true ,
      		speed: 900,
      		namespace: "callbacks",
      		before: function () {
      			$('.events').append("<li>before event fired.</li>");
      		},
      		after: function () {
      			$('.events').append("<li>after event fired.</li>");
      		}
      	});
      
      });
    </script>
    <!--// responsiveslides banner-->		  
    <!--responsive tabs-->	 
    <script src="~/Content/js/easy-responsive-tabs.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function () {
      $('#horizontalTab').easyResponsiveTabs({
      type: 'default', //Types: default, vertical, accordion           
      width: 'auto', //auto or any width like 600px
      fit: true,   // 100% fit in a container
      closed: 'accordion', // Start closed if in accordion view
      activate: function(event) { // Callback function if tab is switched
      var $tab = $(this);
      var $info = $('#tabInfo');
      var $name = $('span', $info);
      $name.text($tab.text());
      $info.show();
      }
      });
      });
       
    </script>
    <!--// responsive tabs-->	
    <!--About OnScroll-Number-Increase-JavaScript -->
    <script src="~/Content/js/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.countup.js" type="text/javascript"></script>
    <script>
      $('.counter').countUp();
    </script>
    <!-- //OnScroll-Number-Increase-JavaScript -->	  
    <!-- start-smoth-scrolling -->
    <script src="~/Content/js/move-top.js" type="text/javascript"></script>
    <script src="~/Content/js/easing.js" type="text/javascript"></script>
    <script type="text/javascript">
      jQuery(document).ready(function ($) {
      	$(".scroll").click(function (event) {
      		event.preventDefault();
      		$('html,body').animate({
      			scrollTop: $(this.hash).offset().top
      		}, 900);
      	});
      });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
      $(document).ready(function () {
      
      	var defaults = {
      		containerID: 'toTop', // fading element id
      		containerHoverID: 'toTopHover', // fading element hover id
      		scrollSpeed: 1200,
      		easingType: 'linear'
      	};
      
      
      	$().UItoTop({
      		easingType: 'easeOutQuart'
      	});
      
      });
    </script>
    <!-- //here ends scrolling icon -->
    <!--bootstrap working-->
    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>

</body>
</html>
